<!-- ================ Add Job section start ================= -->
<section id="form" class="my-5">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-md-12">

                    <input class="form-control form-control-lg" type="text" placeholder="basliq">

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-9">
                    <div class="col-md-12">

                        <input class="form-control form-control-lg" type="text" placeholder="basliq">

                    </div>
                </div>
                <div class="col-md-3">
                    <input type="date" style="height: 43px;">
                </div>

            </div>
            <h4 class="mt-3">Tələblər Əmək haqqı</h4>
            <div class="row mt-3">
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option>Default select</option>
                        <option>Default select</option>
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col-md-3">

                    <input class="form-control form-control-lg" type="text" placeholder="test">
                </div>
                <div class="col-md-3">

                    <input class="form-control form-control-lg" type="text" placeholder="test">
                </div>
            </div>
            <div class="row mt-3" style="border-bottom:1px solid #0000002b;">
                <div class="col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Default checkbox
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Checked checkbox
                        </label>
                    </div>

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h4>İş yeri</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div> <input class="form-control form-control-lg" type="text" placeholder="test"></div>
                            <div class="mt-3">
                                <input class="form-control form-control-lg" type="text"
                                       placeholder="test">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Əlaqə məlumatları</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div> <input class="form-control form-control-lg" type="text" placeholder="test"></div>
                            <div class="mt-3">
                                <input class="form-control form-control-lg" type="email"
                                       placeholder="test">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <h4>Əlaqə məlumatları</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <input class="form-control form-control-lg" type="text" placeholder="test"></div>
                        </div>
                        <div class="col-md-6">
                            <div> <input class="form-control form-control-lg" type="text" placeholder="test"></div>
                        </div>
                        <div class="col-md-12 mt-3" style="text-align: right; ">
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>


</section>
<!-- ================ Add Job section end ================= -->